# MQTT broker
MQTT_BROKER=
MQTT_PORT=

# Chatbot topics para enviar comandos
MQTT_TOPIC=
API_BASE_URL=

# URL de envío para el front
CHAT_API=

# MongoDB configuration (matches docker-compose.yml)
MONGODB_URL=
DATABASE_NAME=

GEMINI_API_KEY=