# Docker environment configuration
# Variables específicas para uso con docker-compose

# MQTT broker configuration (usando nombres de servicios Docker)
MQTT_BROKER=
MQTT_PORT=

# MongoDB configuration (usando nombre de servicio Docker)
MONGODB_URL=
DATABASE_NAME=

# URL de envío para el front (usando nombre de servicio Docker)
CHAT_API=